@charset "EUC-KR";

@font-face {
    font-family: 'Chosunilbo_myungjo';
    src:
        url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff%27)
        format('woff');
    font-weight: normal;
    font-style: normal;
}

.Mbanner {
    background: url("pictures/main_hotel.jpg") no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 800px;
}

h3 {
    margin: 70px;
    text-align: center;
}
.aside{
    display:block;
    text-align:center;
}

.aside img {
    display:inline;
    width:30%;
    height:300px; 
    margin:10px;
}