@charset "UTF-8";


.Mbanner {
	background: url("../pictures/main_hotel.jpg") no-repeat 50% 50%;
	background-size: cover;
	width: 100%;
	height: 800px;
}

h3 {
	margin: 70px;
	text-align: center;
}
.aside{
	display:block;
	text-align:center;
}

.aside img {
	display:inline;
	width:30%;
	height:300px; 
	margin:10px;
}